name: proyecto_guia
description: A new Flutter project.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.17.6 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^2.0.0

flutter:

  uses-material-design: true
  assets:
    - assets/logo.png
    - assets/logo2.png
    - assets/logo3.jpg
    - assets/user.jpg
    - assets/restaurante.jpg
    - assets/Entrada/1.jpg
    - assets/Entrada/2.jpg
    - assets/Entrada/3.jpg
    - assets/platoFuerte/1.jpg
    - assets/platoFuerte/2.jpg
    - assets/platoFuerte/3.jpg

